<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }}'s Watchlist</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
</head>
<body>
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}"
             style="width:40px; height:40px; border-radius:50%; vertical-align:middle;" />
        {{ name }}'s Watchlist
    </h2>

    <p>{{ movies|length }}</p>
    <ul class="movie-list">
    {% for movie in movies %}
        <li>{{ movie.title }} - {{ movie.year }}</li>
    {% endfor %}
    </ul>

    <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}"
         style="display:block; margin:20px auto; max-width:100%;" />

    <footer>
        <small>&copy; 2025 <a href="http://helloflask.com/book/3">HelloFlask</a></small>
    </footer>
</body>
</html>
